.navbar-brand.black-text {
    color: black !important;
<<<<<<< HEAD
  }

  .container {
    margin-top: 100px; /* Adjust as needed for vertical spacing */
    background-color: lightgoldenrodyellow;
  }
  
  .card {
    margin: 20px; /* Adjust as needed for horizontal spacing */
=======
>>>>>>> a220b9a33ab05c5d6e225a77661a06ad7555ddb2
  }