.homepage{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: #dad86e;
    padding-bottom: 30px;
    width: 800px;
    font-size: medium;
}

.homepage img {
   width: 280px;
   height: auto;
}

.iframe-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.iframe-container iframe {
    left: 0;
    top: 0;
    border: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}